.hero {
  text-align: center;
  background-color: #f9f7fe;
  margin-top: 0px;
  padding: 50px;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 30px;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 39px;
  margin-bottom: 0px;
}

.hero h2 {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 50px;
}

.hero button {
  background-color: #6c63ff;
  padding: 18px 30px;
  border-radius: 4px;
  border: 1px solid #6c63ff;
  color: white;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: normal;
}
.container h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 42px;
}
.container p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #68647b;
}

.container button {
  font-family: "Poppins";
  color: #6c63ff;
  border: 2px solid #6c63ff;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
}

.container img {
  max-width: 500px;
}

@media (max-width: 900px) {
  .mobile {
    display: none;
  }
  .project-description {
    padding: 0;
    margin: 10px 50px 10px 100px;
    text-align: center;
  }
  .hero h1 {
    font-size: 40px;
  }
}

.about-section {
  text-align: center;
}
.about-section h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  line-height: 1.5;
}

.about-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.about-section button {
  background-color: #6c63ff;
  padding: 18px 30px;
  border-radius: 4px;
  border: 1px solid #6c63ff;
  color: white;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: normal;
}

.about-section img {
  max-width: 350px;
  height: 500px;
  border-radius: 15px;
}
.about-section .container {
  padding: 60px 20px;
}
